.font-rouge {
  font-family: 'Rouge Script', cursive;
}
.banner-bg {
  background-image: url('../../assets/bg/back1.png');
  background-size: cover; 
  background-position: center;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-in-out forwards;
}

.animate-bounceX {
  animation: bounceX 1.5s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}